.container {
    width: 75px;
    max-width: 900px;
    padding: 1.5rem 0.75rem;
    margin: 0 auto;
    z-index: 10;
    opacity: 0.9;
    font-weight: 700;
    transform: translate(50px, 50px) scale(1.1);
    flex: 1;
}

.card {
    font-size: 12px;
    line-height: 1.5;
    border: 0.75px solid #ccc;
    border-radius: 0.375rem;
}